bin/
regresion_lineal/regresion
regresion_lineal/recta.txt
regresion_lineal/indexline.html
regresion_lineal/indexline.js
regresion_lineal/indexscatter.html
regresion_lineal/indexscatter.js
regresion_lineal/Dispersion.png
regresion_lineal/Regresion.png